[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
databases = {extras = ["postgresql"], version = "*"}
sklearn = "*"
numpy = "*"
pandas = "*"

[dev-packages]
selenium = "*"
matplotlib = "*"
seaborn = "*"
bs4 = "*"

[requires]
python_version = "3.7"
